.dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f5f8fc;
}

.dashboard-content {
  flex: 1;
  padding: 30px 40px;
  margin-left: 25px;
  top: 50px;
}

/* Top Stat Cards */
.top-cards {
  display: flex;
  gap: 25px;
  margin-bottom: 35px;
  justify-content: space-between;
   margin-top: 40px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 120px;
}

.card h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
}

.card span {
  font-size: 24px;
  font-weight: bold;
  color: #1c4c91;
}

/* Charts Section */
.charts {
  display: flex;
  gap: 30px;
  height: 500px;
}

/* Bar & Pie Container Cards */
.bar,
.pie {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ensure Pie container has space and alignment */
.pie {
  min-width: 500px;
  height: 100%; /* fills parent */ 
}

.bar h3,
.pie h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1c4c91;
}
